main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group {
    margin-bottom: 1rem;
}


/*MY STYLES*/

body{
    
    font-family:'MontserratAlternates-Light';
}

main{
    background-color: #1c1c1c;
    min-height: 200vh;
    color:white;
    
    font-family:'MontserratAlternates-Light';
}
/*
main > .container {
    padding: 70px 15px 20px;
}
@media (min-width: 1200px) {
     .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
     .container {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}*/
header{
    z-index: 1;
    width:100%;
    height:10vh;
    background-color: #FFD298;
    background-color: #262626;  
    box-shadow: 5px 10px 40px black;
    position: relative;
}
.header_1{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}
.logo{
    height: 8vh;
    aspect-ratio: 1/1; 
}
.fast_menu{    
    height:10vh;
}
.logo_menu{
    display: flex;
    align-items: center;
    gap:2rem;
}
.small_menu{
    display: flex;
    align-items: center;
    gap:1rem;
    position: relative;
}

/*.fast_menu > a{
    text-decoration:none;
    color:rgb(230, 228, 220);
    font-family:'FindSans';
    font-size: 1.1rem;
}*/

ul {
  list-style: none;
}

.drop_menushka{
  display: block!important;;  

  animation: drop 300ms linear ;
    }

    .hide_menushka{ 

  animation: anti_drop 300ms linear ;
    }


    @keyframes drop {
        0% {
            transform: translateX(40rem);
            
            z-index:5;
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            z-index:5;
            opacity: 1;
        }
    }


    @keyframes anti_drop {
        0% {
            transform: translateX(0px);
            
            z-index:5;
            opacity: 1;
            display:block;
        }
        100% {
            transform: translateX(40rem);
            z-index:5;
            opacity: 0;
            display:none;
        }
    }



.main_menu{
    position: fixed;
    right: 0;
    height: 100vh;
    top:0;
    width: 20rem;
    background-color: #3d3d3d;  
  display: none;
    
}

.menu_out{
    position: absolute;
    top: 2rem;
    left: -3rem;
    transition: all 300ms;
}
.menu_out:hover{
    transform: scale(1.3);
}
.menu_punks{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu_punks_other{
    text-decoration: none;
    color: rgb(210, 210, 210);
    font-size: 1.2rem;
    padding-left: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    font-family:'MontserratAlternates-Light';
}

.menu_punks_now{
    text-decoration: none;
    color: rgb(210, 210, 210);
    font-size: 1.3rem;
    padding-left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
    font-family:'MontserratAlternates-Light';
}

.menu_punks a p{
    margin: 0;
}
.mark_page{
    height: 3rem;
    width:1rem;
    background-color: rgb(255, 191, 0);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

@font-face {
    font-family: 'MontserratAlternates-Light';
    src: url(/assets/fonts/ofont.ru_MontserratAlternates.ttf);
}
